<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Marcin Gajc">
    <meta name="description" content="SPRING REST API">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <title>Tasks application</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Tasks App</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar2">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle black_link" data-toggle="dropdown">
                        Settings <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <form th:method="delete" th:action="@{/}"><input type="submit"
                                                                         value="           Delete all tasks           "
                                                                         class="linkButton"/></form>
                    </ul>
            </ul>
        </div>
    </div>
</nav>
<br>
<div th:classappend="${('/'== #httpServletRequest.requestURI) ? 'postForm-visible' : 'postForm-invisible'}"
     class="container col-md-12 postForm-visible">
    <div class="caption">
        <h1>Create task</h1>
    </div>
    <form class="formX col-md-6 col-md-offset-3" method="post" th:action="@{/}" th:object="${newTask}">
        <label for="titleX">Title</label>
        <input type="text" placeholder="Please enter task title" class="form-control"
               th:field="*{title}" id="titleX"/>
        <!--<span th:if="${error != null}" th:text="${error}"></span>-->
        <br>
        <label for="descriptionX">Description</label>
        <input type="text" th:field="*{description}" class="form-control" id="descriptionX"
               placeholder="Please enter task description"/>
        <!--<span th:if="${error != null}" th:text="${error}"></span>-->
        <br>
        <button type="submit" class="btn btn-primary">Add task</button>
    </form>
</div>
<div th:each="task : ${tasksX}"
     th:classappend="${('/' + task.id != #httpServletRequest.requestURI) ? 'updateForm-invisible' : 'updateForm-visible'}"
     class="container col-md-12 updateForm-invisible">
    <div class="caption">
        <h1>Update task</h1>
    </div>
    <form class="formX col-md-6 col-md-offset-3" th:method="patch" th:action="@{/}">
        <label for="title">Title</label>
        <input type="text" class="form-control" th:value="${task.title}"
               id="title" name="title"/>
        <!--<span th:if="${error != null}" th:text="${error}"></span>-->
        <br>
        <label for="description">Description</label>
        <input type="text" class="form-control" th:value="${task.description}" id="description"
               name="description"/>
        <!--<span th:if="${error != null}" th:text="${error}"></span>-->
        <input type="hidden" name="id" th:value="${task.id}"/>
        <br>
        <button type="submit" class="btn btn-primary">Update task</button>
    </form>
</div>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr th:if="${not #lists.isEmpty(tasksX)}">
            <th>Title</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Last modified</th>
            <th>End date</th>
            <th>Completed?</th>
            <th>Update task</th>
            <th>Delete task</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasksX}">
            <td th:classappend="|${('/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.title}"></td>
            <td th:classappend="|${('/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.description}"></td>
            <td th:classappend="|${('/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.startDate}"></td>
            <td th:classappend="|${('/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.updatedDate}"></td>
            <td th:classappend="|${('/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.endDate}"></td>
            <td>
                <form th:method="patch" th:action="@{/}">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <input type="hidden" name="title" th:value="${task.title}"/>
                    <input type="hidden" name="description" th:value="${task.description}"/>
                    <input type="checkbox" name="completed" th:checked="${task.completed}" onchange="form.submit()"/>
                </form>
            </td>
            <td>
                <a th:classappend="${('/' + task.id != #httpServletRequest.requestURI) ? 'edit_button_visible' : 'edit_button_invisible'}"
                   class="edit_button_visible" th:href="@{'/' + ${task.id}}">
                    <button class="btn btn-primary" th:disabled="${task.isCompleted()} ? true : false">Edit</button>
                </a>
                <a th:classappend="${('/' + task.id == #httpServletRequest.requestURI) ? 'cancel_button_visible' : 'cancel_button_invisible'}"
                   class="cancel_button_visible" th:href="@{'/'}">
                    <button class="btn btn-primary">Cancel</button>
                </a>
            </td>
            <td>
                <form th:method="delete" th:action="@{/task.id}">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <hr th:if="${not #lists.isEmpty(tasksX)}">
</div>
</body>
</html>