<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Marcin Gajc">
    <meta name="description" content="SPRING REST API">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <title>Tasks application</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/tasks}">Tasks App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a th:href="@{/tasks}">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>


<div class="col-sm-2">
<select class="form-control" onchange="if (this.value) window.location.href = '/trello/' + this.value">
    <option value = " ">Select a Trello Board</option>
    <option  th:each="trelloBoard : ${trelloBoards}" th:value="${trelloBoard.id}" th:text="${trelloBoard.name}" th:selected="${'/trello/' + trelloBoard.id == #httpServletRequest.requestURI} ? trelloBoard.name : null" >[name]</option>
</select>
</div>


<div class="col-sm-2" th:each="board : ${trelloBoards}" th:if="${('/trello/' + board.id == #httpServletRequest.requestURI)}">
    <select class="form-control">
        <option th:each = "list : ${board.lists}" th:text = "${list.name}"></option>
    </select>
</div>


<div th:each="task : ${tasks}" class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr th:if="${not #lists.isEmpty(tasks)}">
            <th>Title</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Last modified</th>
            <th>End date</th>
            <th>Completed?</th>
            <th>Update task</th>
            <th>Delete task</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:classappend="|${('/tasks/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.title}"></td>
            <td th:classappend="|${('/tasks/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.description}"></td>
            <td th:classappend="|${('/tasks/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.startDate}"></td>
            <td th:classappend="|${('/tasks/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.updatedDate}"></td>
            <td th:classappend="|${('/tasks/' + task.id == #httpServletRequest.requestURI) ? 'table_text' : 'table_text2'} ${task.isCompleted() ? 'table_text_completed' : 'table_text2'}|"
                th:text="${task.endDate}"></td>
            <td>
                <form th:method="patch" th:action="@{/tasks/} + ${task.id}">
                    <input type="hidden" name="title" th:value="${task.title}"/>
                    <input type="hidden" name="description" th:value="${task.description}"/>
                    <input type="checkbox" name="completed" th:checked="${task.completed}" onchange="form.submit()"/>
                </form>
            </td>
            <td>
                <a th:class="${('/tasks/' + task.id != #httpServletRequest.requestURI) ? 'show' : 'hidden'}"
                   class="show" th:href="@{'/tasks/' + ${task.id}}">
                    <button class="btn btn-default" th:disabled="${task.isCompleted()} ? true : false">Edit</button>
                </a>
                <a th:class="${('/tasks/' + task.id == #httpServletRequest.requestURI) ? 'show' : 'hidden'}"
                   class="show" th:href="@{'/tasks'}">
                    <button class="btn btn-basic">Cancel</button>
                </a>
            </td>
            <td>
                <form th:method="delete" th:action="@{/tasks/} + ${task.id}">
                    <button class="btn btn-default" type="submit"
                            th:disabled="${'/tasks' != #httpServletRequest.requestURI} ? true : false">Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>